.dropdown-container {
    display: flex;
    flex-direction: column;
  }
  
  .dropdown-label {
    font-weight: 600;
    margin-bottom: 8px;
  }
  
  .dropdown-select {
    background-color: #1e40af;
    color: white;
    padding: 8px;
    border-radius: 6px;
    width: 208px;
    border: none;
  }
  